<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kao.animationsapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ani08.Ani08Activity"></activity>
        <activity android:name=".ani07.Ani07Activity" />
        <activity android:name=".ani06.Ani06Activity" />
        <activity
            android:name=".ani05.Ani05Activity2"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".ani05.Ani05Activity" />
        <activity android:name=".ani04.Ani04Activity2" />
        <activity android:name=".ani04.Ani04Activity" />
        <activity android:name=".ani03.Ani03Activity" />
        <activity android:name=".ani02.Ani02Activity" />
        <activity android:name=".ani01.Ani01Activity2" />
        <activity android:name=".ani01.Ani01Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>